{% extends 'messages/base_pm.html' %}
{% load forum_extras %}
{% load i18n %}
{% block sub_content %}
 <div class="blockform">
	<h2><span>{% trans "Inbox" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<thead>
				<tr>
					<th class="tcl">{% trans "Subject" %}</th>
					<th>{% trans "Sender" %}</th>
					<th class="tcr">{% trans "Date" %}</th>
				</tr>
			</thead>
			<tbody>
			{% if message_list %}
				{% for msg in message_list %}
				<tr {% if msg.new %}class="inew"{% endif %}>
					<td class="tcl">
						<div class="intd">
							<div class="icon"><div class="nosize"><!-- --></div></div>
							<div class="tclcon">
								{% if msg.new %}
									<strong><a href="{% url messages_detail msg.id %}">{{ msg.subject }}</a></strong>
								{% else %}
									<a href="{% url messages_detail msg.id %}">{{ msg.subject }}</a>
								{% endif %}
							</div>
						</div>
					</td>
					<td class="tc2" style="white-space: nowrap; OVERFLOW: hidden"><a href="{% url djangobb:forum_profile msg.sender.username %}">{{ msg.sender.username }}</a></td>
					<td class="tcr" style="white-space: nowrap">{% forum_time msg.sent_at %}</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr><td class="djangobbcon1" colspan="3">{% trans "No messages" %}</td></tr>
			{% endif %}
			</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
