{% load i18n %}
	<div class="blockmenu">
		<h2><span>{% trans "Private Messages" %}</span></h2>
		<div class="box">
			<div class="inbox">
				<ul>
					<li {% if active_menu == "inbox" %}class="isactive"{% endif %}><a href="{% url messages_inbox %}">{% trans "Inbox" %}</a></li>
					<li {% if active_menu == "outbox" %}class="isactive"{% endif %}><a href="{% url messages_outbox %}">{% trans "Sent" %}</a></li>
					<li {% if active_menu == "create" %}class="isactive"{% endif %}><a href="{% url messages_compose %}">{% trans "Send new message" %}</a></li>
				</ul>
			</div>
		</div>

	</div>