{% extends 'messages/base_pm.html' %}
{% load forum_extras %}
{% load i18n %}

{% block sub_content %}

<div id="p2" class="blockpost row_odd firstpost" style="margin-left: 14em;">
		<h2><span>{% forum_time message.sent_at %}</span></h2>
		<div class="box">
			<div class="inbox">
				<div class="postleft">
					<dl>
						<dt><strong>{{ message.sender|profile_link }}</strong></dt>
						<dd>
						{% if message.sender.forum_profile.status %}
							<strong>{{ message.sender.forum_profile.status }}</strong>
						{% else %}
							<strong>{{ message.sender.forum_profile.group }}</strong>
						{% endif %}
						</dd>
						{% if forum_settings.AUTHORITY_SUPPORT %}
							<dd class="usertitle">
							{{ message.sender|forum_authority }}
							</dd>
						{% endif %}
						{% if message.sender.forum_profile.avatar and message.sender.forum_profile.show_avatar %}
							<dd class="postavatar"><img src="{{ message.sender.forum_profile.avatar.url }}" /></dd>
						{% else %}
							<dd class="postavatar"><img src="{% gravatar message.sender.email %}" /></dd>
						{% endif %}
						<dd>{% trans "Registered:" %} {{ message.sender.date_joined|date:"Y-m-d" }}</dd>
						<dd>{% trans "Posts:" %} {{ message.sender.posts.count }}</dd>
						{% if moderator %}
							<dd>{% trans "IP:" %} {{ post_user_ip }}</dd>
						{% endif %}
						<dd class="usercontacts"><a href="{% url djangobb:forum_profile message.sender %}">{% trans "Profile" %}</a>&nbsp;&nbsp;
						{% if message.sender.forum_profile.privacy_permission == 0 %}
							<a href="mailto:{{ message.sender.email }}">{% trans "E-mail" %}</a>&nbsp;&nbsp;
						{% else %}
							{% if message.sender.forum_profile.privacy_permission == 1 %}
									<a href="{% url djangobb:misc %}?mail_to={{ message.sender }}">{% trans "Send e-mail" %}</a>&nbsp;&nbsp;
							{% endif %}
						{% endif %}
						{% if user_is_authenticated %}
							<a href="{% url messages_reply %}?recipient={{ post_user.username }}">{% trans "PM" %}</a>&nbsp;&nbsp;</dd>
						{% endif %}
					</dl>
				</div>
				<div class="postright">
					<div class="postmsg">
						{{ message.body|linebreaksbr }}
						{% if not user.is_authenticated or user.forum_profile.show_signatures %}
                    	{% if message.sender.forum_profile.signature %}
                    	<div class="postsignature">
                    		<br>
                    		---
							<br>
                    		{{ message.sender.forum_profile.signature|safe }}
                    	</div>
                    {% endif %}
                    {% endif %}
					</div>
					</div>
				<div class="clearer"></div>
				<div class="postfootleft">
				{% if message.sender|online %}
					<p><strong>{% trans "Online" %}</strong></p>
				{% else %}
					<p>{% trans "Offline" %}</p>
				{% endif %}
				</div>
				<div class="postfootright">
					<ul>
						<li>
							<a onclick="return confirm('{% trans "Are you sure you want to delete this post?" %}')" href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
						</li>
						<li>
							| <a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
