{% extends "forum/base.html" %}
{% load i18n %}

{% block content %}
<div class="blockform">
	<h2><span>{% trans "Change password" %}</span></h2>
	<div class="box">
		<form id="change_pass" method="post">
			<div class="inform">
				<fieldset>
					<legend>{% trans "Enter and confirm your new password" %}</legend>

					<div class="infldset">
						<label class="conl"><strong>{{ form.password.label }}:</strong><br />
						{{ form.password }}<br /></label>
						<label class="conl"><strong>{{ form.password_confirmation.label }}:</strong><br />
						{{ form.password_confirmation }}<br /></label>
						
						<div class="clearb"></div>
					</div>
				</fieldset>

			</div>
			<p><input type="submit" name="update" value="{% trans "Submit" %}" /><a href="javascript:history.go(-1)">{% trans "Go back" %}</a></p>
		</form>
	</div>
</div>

{% endblock %}
