{% extends 'forum/base.html' %}
{% load i18n %}

{% block content %}
<div class="blockform">
	<h2><span>{% trans "Request password" %}</span></h2>
	<div class="box">
		<form method="post">
			<div class="inform">
				<fieldset>
					<legend>{% trans "Enter the e-mail address with which you registered" %}</legend>
					<div class="infldset">
						{{ form.email }}
						<p>{% trans "A new password together with a link to activate the new password will be sent to that address." %}</p>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" value="{% trans "Submit" %}"/><a href="javascript:history.go(-1)">{% trans "Go back" %}</a></p>
		</form>
	</div>
</div>
{% endblock %}
