Django>=1.2
PIL>=1.1.7
Markdown==2.0
django-registration==0.7
-e hg+http://bitbucket.org/benoitc/django-authopenid#egg=django-authopenid
-e git://github.com/toastdriven/django-haystack.git#egg=django-haystack
