{% extends 'djangobb_forum/lofi/base.html' %}
{% load i18n %}
{% load pagination_tags %}
{% load forum_extras %}

{% block full-link %}{{ forum.get_absolute_url }}{% endblock %}

{% block title %}
    <span><a href="{% url djangobb:lofi_index %}">{% trans "Discuss" %}</a></span>
    {% block page-name %}{{ forum.name }}{% endblock %}
{% endblock %}

{% block root %}{% autopaginate topics forum_settings.FORUM_PAGE_SIZE %}{{ block.super }}{% endblock %}

{% block content %}
{% if can_create_topics %}<p class=list-header><a href="{% url djangobb:lofi_add_topic forum.id %}">New Topic</a></p>{% endif %}
{% include 'djangobb_forum/lofi/includes/topic_list.html' with topics=topics %}
{% endblock %}
