/*
 * Text
 */

.djangobb {
    font-size: 13px;
    line-height: normal;
}

/* IEWin Font Size only - to allow IEWin to zoom. Do not remove comments \*/
* html .djangobb {
    font-size: 81.25%;
}
/* End IE Win Font Size */

/* Set font size for tables because IE requires it */
.djangobb table,
.djangobb input,
.djangobb select,
.djangobb optgroup,
.djangobb textarea,
.postmsg .postedit {
    font-size: 1em;
}

.djangobb pre {
    font-size: .9em;
    font-family: Menlo, Monaco, Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}
.djangobb pre.blocks {
    font: bold 10px/1 "Lucida Grande", Verdana, Arial, "DejaVu Sans", sans-serif;
    margin: 0 0 3px;
}

.djangobb h3 {
    font-size: 1em;
    line-height: normal;
}
.postmsg p {
    line-height: 1.4;
}
.postmsg h4,
.tcl h3,
.forminfo h3,
.postlink,
.linkst li,
.linksb li,
.postlinksb li,
.blockmenu li,
.djangobb .warntext {
    font-weight: bold;
}

/*
 * Borders
 */

.djangobb td,
.djangobb th,
.djangobb blockquote,
.code,
.forminfo,
.blockpost label {
    border-style: solid;
    border-width: 1px;
}

/*
 * Breadcrumbs
 */

.linkst,
.linksb {
    padding: 6px;
    position: relative;
}
.linkst {
    margin-top: 40px;
}
.linksb {
    margin-top: -20px;
    margin-bottom: 20px;
}

/*
 * Spacing
 */

.djangobb .blockpost dl {
    padding: 6px 20px;
}

.djangobb h1 {
    padding: 3px 0px 0px 0px;
}
#brdtitle p {
    padding: 0;
}
#brdwelcome,
#brdfooter dl {
    line-height: 1.4;
}
#brdmenu li,
.blockform p input {
    margin-right: 6px;
}
#brdmenu .conr li {
    margin-right: 0;
}

/*
 * Tables
 */

.djangobb th, .djangobb td {
    border-bottom: 0;
    border-right: 0;
    padding: 4px 6px;
}
.djangobb th {
    border-top: 0;
}
.djangobb td {
    padding: 8px 6px;
}
.djangobb td p {
    padding: 5px 0 0 0;
}
.djangobb .tcl {
    border-left: 0;
}
.tc3 {
    width: 70px;
}

/*
 * Posts
 */

.postright {
    padding: 12px 20px;
    text-shadow: none;
}

dd.usercontacts, dd.postavatar {
    margin-top: 5px;
}
dd.postavatar {
    margin-bottom: 5px;
}
.djangobb .username {
    font-weight: bold;
}

.postmsg .postedit {
    padding-top: 15px;
}
.postmsg p {
    padding: 0
}

.postmsg h4 {
    margin-bottom: 10px;
}
.djangobb blockquote,
.code {
    margin: 12px 0;
    padding: 12px 20px;
}

.postfootleft p,
.postfootright ul,
.postfootright div {
    padding: 10px 6px 5px 20px;
}

.blockpost input,
.blockpost label {
    padding: 3px;
    display: inline;
}

.multidelete {
    padding-top: 15px;
    padding-bottom: 5px;
}
.multidelete label {
    font-weight: bold;
}

/*
 * Icons
 */

.forumicon,
.inew,
.isticky,
.iclosed {
    float: left;
    display: block;
    height: 16px;
    width: 16px;
}
.djangobb .tcl img.rss {
    margin-top: .8em;
}

.searchposts .forumicon {
    margin-left: 0;
}

td .tclcon {
    margin-left: 2.3em;
}

/*
 * Miscellaneous
 */

#brdmenu,
#brdwelcome {
    padding: 6px 20px;
}
#onlinelist {
    padding-top: 6px;
}
#djangobbwrap {
    width: auto;
    text-align: left;
}
#djangobbindex .blocktable .box-content {
    width: 100%;
    padding: 0;
}

.djangobb .new_topic {
    float: right;
    margin: 4px 5px;
    color: #fff;
    text-decoration: none;
}

.box-content .tclcon > h3 {
    display: inline;
}

.blocktable .box .box-content .tcl {
    padding-left: 20px;
    padding-right: 20px;
}

/*
 * Post Boxes
 */

.blockpost .box {
    margin-bottom: 10px;
}
.blockpost + .linksb {
    margin-top: -10px;
    margin-bottom: 38px;
}

.blockpost div.box {
    border: 0;
    background-color: #28a5da;
    border-top: 1px solid #28a5da;
}
.blockpost .box-head {
    border-top-color: #5FB5DA;
}
.blockpost .box-content {
    border: 1px solid #e0e0e0;
    border-top: 0;
}
.blockpost .box-head,
.blockpost .box-head span.conr,
.blockpost .box-head a,
.blockpost .box-head a:link,
.blockpost .box-head a:active,
.blockpost .box-head a:hover,
.blockpost .box-head a:visited {
    background-color: transparent;
    color: #fff;
    text-shadow: none;
    font-size: 1em;
}

.tcl .topic_isread {
    font-weight: normal;
}

/* distinguish moderator only features from others - for testing purposes, and maybe beyond? */
.moderator-only {
    background-color: #ffb;
}
.admin-only {
    background-color: #fc0;
}

/* Boxes */

.box .box-head h4 {
    display: block;
}
.box-content {
    padding: 12px 20px;
}
.blockpost .box-content {
    padding: 0;
}
#brdfooter .box-content {
    border-top: 0;
}

/* Forms */

.form-submit {
    margin-top: 20px;
}
.form-submit .button {
    margin: 0 6px 0 0;
}

.form-help {
    clear: both;
    margin: 0 0 10px;
    position: relative;
    top: -10px;
}
.djangobb label {
    margin-bottom: 20px;
}
.djangobb label strong {
    display: block;
    margin-bottom: 5px;
}
.djangobb label strong .secondary {
    font-weight: normal;
}
.djangobb label input[type=checkbox],
.djangobb label input[type=checkbox] + strong {
    display: inline-block;
}
.djangobb input.small {
    margin: 1em;
}

.djangobb form input[type=text],
.djangobb form input[type=password] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    width: 100%;
}

.djangobb #subscribe {
    margin: -10px 0;
}
.djangobb #subscribe .success {
    color: green;   
    background: url('../../../images/icons_sm.png') no-repeat top;
    background-position: -15px -644px;
    padding: 8px 0 8px 27px;
    vertical-align: middle;
}
.djangobb #subscribe .error {
    color: #FF0000;
    padding: 3px 0;
}
.djangobb #subscribe .loading {
    display: none;
}

.djangobb .markItUpEditor {
    width: 100%;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.linkst .follow-topic {
    top: -35px;
}
.follow-topic {
    text-align: right;
    position: absolute;
    right: 0;
}
.follow-topic .loading {
    vertical-align: middle;
}
.follow-topic .error {
    color: red;
    font-size: smaller;
}
.follow-topic .button {
    line-height: 1;
    height: inherit;
    padding: 9px 10px;
}
.follow-topic .follow-button:hover {
    color: white;
}

