.tag_spoiler {
	opacity: 0;
	-webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}
.tag_spoiler:hover {
	opacity: 1;
}


a.tag_spoilerblock {display: block;}
div.spoiler-content {display: none;}
a.tag_spoilerblock:focus div {display: block;}
a.tag_spoilerblock {
	/*
    background: #c0e0ff;
    color: black;
    border-radius: 5px;
    border: 1px solid #999;
	color: #333;
	*/
    text-decoration: none;
    font-weight: bold;
    padding: 0 5px 0 5px;
    margin: 0 0 5px 0;
}
a.tag_spoilerblock:hover {/*background: #d0f0ff;*/}
div.spoiler-content {
	/*
    background: white;
	*/
    font-weight: normal;
    margin: 0 0 5px 0;
    padding: 5px 5px 0 5px;
}
 
a.tag_spoilerblock:before {
	/*
    content: "[кликните, чтобы раскрыть спойлер]";
	*/
    display: block;
    float: right;
    font-size: smaller;
    font-weight: normal;
}
div.spoiler-content:after {
	/*
    content: "[кликните за пределами области чтобы свернуть спойлер]";
    background: #c0e0ff;
    border-radius: 0 0 5px 5px;
	*/
    border-width: 1px 0 0 0;
    border-color: #999;
    border-style: solid;
    display: block;
    font-weight: normal;
    font-size: smaller;
    margin: 5px -5px 0 -5px;
    padding: 3px;
}
 
a.tag_spoilerblock:focus {cursor: default;}
.postsignature img {
    height: 0px;
}








/* Дальнейшие таблицы надо разнести по темам, если они будут меняться */
.post_button .button_post   {
    width: 24px;
    height: 24px;
    float: left;
    padding: 5px;
    background-repeat: no-repeat;
    opacity: .5;
}
.button_post_banhammer      {background-image: url(../all_img/post_banhammer.png);}
.button_post_delete         {background-image: url(../all_img/post_delete.png);}
.button_post_edit           {background-image: url(../all_img/post_edit.png);}
.button_post_quote          {background-image: url(../all_img/post_quote.png);}