{% load i18n %}
	<div class="blockmenu">
		<h2><span>{% trans "Profile menu" %}</span></h2>
		<div class="box">
			<div class="inbox">
				<ul>
					<li {%if active_menu == "essentials" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=essentials">{% trans "Essentials" %}</a></li>
					<li {%if active_menu == "personal" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=personal">{% trans "Personal" %}</a></li>
					<li {%if active_menu == "messaging" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=messaging">{% trans "Messaging" %}</a></li>
					<li {%if active_menu == "personality" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=personality">{% trans "Personality" %}</a></li>
					<li {%if active_menu == "display" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=display">{% trans "Display" %}</a></li>
					<li {%if active_menu == "privacy" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=privacy">{% trans "Privacy" %}</a></li>
					{# if request.user.is_superuser #}
					<!--li {% if active_menu == "admin" %}class="isactive"{% endif %}><a href="{% url djangobb:forum_profile profile %}?section=admin">{% trans "Administration" %}</a></li-->
					{# endif #}

				</ul>
			</div>
		</div>
	</div>