{% extends "forum/base.html" %}
{% load i18n %}

{% block content %}
<div class="blockform">
	<h2><span>{% trans "Login" %}</span></h2>
	<div class="box">
		<form class="login-form" method="post">
			<div class="inform">
				<fieldset>
					<legend>{% trans "Enter your username and password below" %}</legend>
						<div class="infldset">
							{{ form.username.errors }}
							{{ form.password.errors }}
							<label class="conl"><strong>{{ form.username.label }}</strong><br />{{ form.username }}<br /></label>
							<label class="conl"><strong>{{ form.password.label }}</strong><br />{{ form.password }}<br /></label>
							<p class="clearb">{% trans "If you have not registered or have forgotten your password click on the appropriate link below." %}</p>
							<p><a href="{% url registration_register %}">{% trans "Not registered yet?" %}</a>&nbsp;&nbsp;

							<a href="{% url auth_password_reset %}">{% trans "Forgotten your password?" %}</a></p>
						</div>
				</fieldset>
			</div>
			<p><input type="submit" value="{% trans "Login" %}" /></p>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>

{% endblock %}
