{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block page-name %}{% trans "New Topic" %}{% endblock %}
{% block lofi %}{% url djangobb:lofi_add_topic forum.id %}{% endblock %}

{% block content %}
<div class="linkst">
	<ul>
        <li><a href="{% url djangobb:index %}">{% trans "Discussion Forums" %}</a></li>
        <li>&raquo; {% link forum %}</li>
        <li>&raquo; {% trans "New Topic" %}</li>
    </ul>
	<div class="clearer"></div>
</div>
{% include "djangobb_forum/includes/post_form.html" %}
{% endblock %}
