{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block content %}
<div class="linkst">
	<div class="inbox">
		{% if forum %}
		<ul class="start"><li><a href="{% url djangobb:index %}">{% trans "Root" %}</a> </li><li>&raquo; {% link forum %}</li></ul>
		{% else %}
			<ul><li><a href="{% url djangobb:index %}">{% trans "Root" %}</a> </li><li>&raquo; {% link topic.forum %}</li><li>&raquo; {{ topic }}</li></ul>
		{% endif %}
		<div class="clearer"></div>
	</div>
</div>

{% include "djangobb_forum/includes/post_form.html" %}

{% if not forum %}
<div id="postreview" class="blockpost">

	<h2><span>{% trans "Topic review (newest first)" %}</span></h2>
	{% for post in posts reversed %}
	<div class="box rowodd">
		<div class="inbox">
			<div class="postleft">
				<dl>
					<dt><strong><a href="javascript:pasteN('{{ post.user.username }}');">{{ post.user.username }}</a></strong></dt>
					<dd>{% forum_time post.created %}</dd>
				</dl>
			</div>
			<div class="postright">
				<div class="postmsg">
					{{ post.body_html|safe }}
				</div>
			</div>
			<div class="clearer"></div>
						<div class="postfootright"><ul><li class="postquote"><a onmouseover="copyQ('{{ post.user.username }}');" href="javascript:pasteQ();">{% trans "Quote" %}</a></li></ul></div>
		</div>
	</div>
	{% endfor %}
	
</div>
{% endif %}

{% endblock %}
