{% load forum_extras %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{{ forum_settings.FORUM_BASE_TITLE }} {% block title %}{% endblock %}</title>
	<meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} " />
	<meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

	<link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_posts_feed %}" title="{% trans "Latest posts on forum" %}" />
	<link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_topics_feed %}" title="{% trans "Latest topics on forum" %}" />

	<script type="text/javascript">
		var STATIC_URL = "{{ STATIC_URL }}";
		var POST_PREVIEW_URL = "{% url djangobb:post_preview %}";
	</script>
	{% if post %}
		{% set_markup_editor request.user post.markup %}
	{% else %}
		{% set_markup_editor request.user %}
	{% endif %}
	{% if user.is_authenticated %}
		<script type="text/javascript" >
		   $(document).ready(function() {
			$(".markup").markItUp(mySettings);
		   });
		</script>
	{% endif %}

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}djangobb_forum/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <!-- Highlightjs goodies -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}djangobb_forum/css/pygments.css" />
	{% if highlight_word %}
		<script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.highlight-3.pack.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("div.postmsg").highlight("{{ highlight_word }}");
			});
		</script>
	{% endif %}
	{% block extra_meta %}{% endblock %}
  </head>

  <body>


<div id="djangobbwrap">
<div id="djangobbindex" class="djangobb">
<div id="brdheader" class="block">
	<div class="box">
		<div id="brdtitle" class="inbox">
			<p><span>{{ forum_settings.TAGLINE|safe }}</span></p>
		</div>
		<div id="brdwelcome" class="inbox">
			<ul class="conl">
				{% if user.is_authenticated %}
					<li>{% trans "Logged in as" %} <strong>{{ user.username }}</strong></li>
					<li>{% trans "Last visit:" %} {% forum_time user.last_login %}</li>
					{% if forum_settings.PM_SUPPORT and messages_inbox_count > 0 %}
						<ul><li class="pmlink"><strong><a href="{% url messages_inbox %}">{% trans "There are new messages" %} ({{ messages_inbox_count }})</a></strong></li></ul>
					{% endif %}
				{% else %}
					<li>{% trans "You are not logged in." %}</li>
				{% endif %}
				{% if user.is_superuser and reports %}
					<li class="reportlink"><strong><a href="{% url admin:index %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></li>
				{% endif %}
			</ul>
			{% if user.is_authenticated %}
				<ul class="conr">
					<li><a href="{% url djangobb:search %}?action=show_new">{% trans "Show new posts since last visit" %}</a></li>
					<li><a href="{% url djangobb:misc %}?action=markread">{% trans "Mark all topics as read" %}</a></li>
				</ul>
			{% endif %}
			<div class="clearer"></div>
		</div>
	</div>
</div>


    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url djangobb:index %}">{{ forum_settings.HEADER|safe }}</a>
          <div class="nav-collapse">
            <ul class="nav">
            {% block menu %}
			  <li class="active"><a href="{% url djangobb:index %}">{% trans "Home" %}</a></li>
			  <li><a href="{% url djangobb:forum_users %}">{% trans "User list" %}</a></li>
			  <li><a href="{% url djangobb:search %}">{% trans "Search" %}</a></li>
			  {% if user.is_superuser %}
			  	<li><a href="{% url admin:index %}">{% trans "Administration" %}</a></li>
			  {% endif %}
			  {% if user.is_authenticated %}
			  	<li><a href="{% url djangobb:forum_profile request.user %}">{% trans "Profile" %}</a></li>
			  	{% if forum_settings.PM_SUPPORT %}
			  		<li><a href="{% url messages_inbox %}">{% trans "PM" %}</a></li> 
			  	{% endif %}
			  {% endif %}
			{% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

    {% if forum_settings.NOTICE %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">{% trans "Notice" %}</h4>
            {{ forum_settings.NOTICE }}
        </div>
    {% endif %}

        {% block content %}{% endblock %}
        <div id="brdfooter" class="block">
            <h2><span>{% trans "Board footer" %}</span></h2>
            <div class="box">
                <div class="inbox">
                    {% block controls %}
                    {% endblock %}
                    <p class="conr">Powered by <a href="http://djangobb.org/">DjangoBB</a></p>
                    <div class="clearer"></div>
                    {% block lofi %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
