{% extends 'main.html' %}
{% load forum_extras %}
{% load i18n %}

{% block extra_css %}
	{% set_theme_style request.user %}
	<script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.cookie.js"></script>
{% endblock %}

{% block main_content %}
	<div class='forum_container'>
        {% block forum_content %}{% endblock %}
	</div>
	{% if messages %}
    <div id="messages" class="block">
        <h2><span>{% trans "Notice" %}</span></h2>
        <div class="box">
            <div class="inbox">
                <ul class="messagelist">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}