{% load forum_extras %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<title>{{ forum_settings.FORUM_BASE_TITLE }} {% block title %}{% endblock %}</title>
	<meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} " />
	<meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

	<link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_posts_feed %}" title="{% trans "Latest posts on forum" %}" />
	<link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_topics_feed %}" title="{% trans "Latest topics on forum" %}" />

	<script type="text/javascript">
		var STATIC_URL = "{{ STATIC_URL }}";
		var POST_PREVIEW_URL = "{% url djangobb:post_preview %}";
	</script>
	{% if post %}
		{% set_markup_editor request.user post.markup %}
	{% else %}
		{% set_markup_editor request.user %}
	{% endif %}
	{% if user.is_authenticated %}
		<script type="text/javascript" >
		   $(document).ready(function() {
			$(".markup").markItUp(mySettings);
		   });
		</script>
	{% endif %}

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}djangobb_forum/favicon.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <!-- Highlightjs goodies -->
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}djangobb_forum/css/pygments.css" />
	{% if highlight_word %}
		<script type="text/javascript" src="{{ STATIC_URL }}djangobb_forum/js/jquery.highlight-3.pack.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$("div.postmsg").highlight("{{ highlight_word }}");
			});
		</script>
	{% endif %}
	{% block extra_meta %}{% endblock %}
  </head>

  <body>

    {% include 'djangobb_forum/header.html' %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        {% block content %}{% endblock %}
        <div id="brdfooter" class="block">
            <h2><span>{% trans "Board footer" %}</span></h2>
            <div class="box">
                <div class="inbox">
                    {% block controls %}
                    {% endblock %}
                    <p class="conr">Powered by <a href="http://djangobb.org/">DjangoBB</a></p>
                    <div class="clearer"></div>
                    {% block lofi %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>

  </body>
</html>
