{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load pagination_tags %}
{% load i18n %}

{% block title %} / {{ forum.name }}{% endblock %}
{% block forum_content %}


<!--<div class='content cont_forum maincolor'>-->
{% autopaginate topics forum_settings.FORUM_PAGE_SIZE %}

	<div id="breadcrumbs">
		<a href="{% url 'djangobb:index' %}">Форум IceBorn</a> 
		&#8594; {{ forum.name }} 
		{% if user.is_authenticated %}
			&#8594; <a href="{% url 'djangobb:add_topic' forum.id %}" class="new_topic">Новая тема</a> 
		{% endif %}
		{% if moderator %}
			&#8596; <a href="{% url 'djangobb:moderate' forum.id %}">Модерация</a> 
		{% endif %}
	</div>
	
	<table cellspacing="0" class="table_treads">
		<thead>
			<tr>
				<td class="th1">Тема</td>
				<td class="th2 center">Ответов</td>
				<td class="th3 left">Последний пост</td>
			</tr>
		</thead>
		<tbody>
			{% if topics %}
				{% for topic in topics %}
					<tr class="{% if topic|has_unreads:user %}forum_topic_new {% endif %}{% if topic.sticky %}forum_topic_sticky{% endif %}">
						<td class="th1">
							<div class="topic_icon
								{% if topic.closed %} topic_closed
								{% else %}
								{% if topic.reply_count > 10 %} topic_popular{% endif %}
								{% if topic.user.username = user.username %} topic_my{% endif %}
								{% endif %}
								"></div>
							<div class="forum_topic_name">{% link topic %}</div> <span> от {{ topic.user.username }} </span>
							<span class="excerpt">
		    					{{ topic.first_post }}
							</span>
						</td>
						<td class="th2 center">{{ topic.reply_count }}</td>
						<td class="th3 left"><a href="{{ topic.last_post.get_absolute_url }}" class='forum_last_post'>{% forum_time topic.updated %}</a> от {{ topic.last_post.user.username }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td class="djangobbcon1" colspan="4">Форум пока пуст.</td></tr>
			{% endif %}
		</tbody>
	</table>
{% paginate %}
{% endblock %}