{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}



	<div class="forum_main">
	{% for iter in cats %}
		{% if iter.id == 2 and not user.is_authenticated %}
			<!-- NOT -->
		{% else %}
			<div class="forum_cat">
				
				<div class="forum_cat_head">{{ iter.cat }}</div>
				<div class="cat_id_{{ iter.id }} forum_box">
				{% for forum in iter.forums %}
					<div id="forum_id_{{ forum.id }}" class="forum {% if forum|forum_unreads:user %}forum_new{% endif %}">
						<a href="{{ forum.get_absolute_url }}">
							<div class="forum_icon"></div>
							<article>
								<div class="cat_title">{{ forum }}</div>
								<div class="cat_subtitle">{{ forum.description|safe }}</div>
								<div class="forum_statistic">{{ forum.topic_count }} тем<br> {{ forum.post_count }} сообщений</div>
							</article>
						</a>
					</div>
				{% endfor %}
				</div>
				<div class="clear forum_catdown"></div>
			</div>

		{% endif %}
	{% endfor %}
	</div>

	<div id="stats">
		<div class="stats_head">Активность на форуме</div>
		{% for lastpost in last_posts %}
			<div class="stats_item">
				<div><span>{{ lastpost.user }}</span> написал в теме</div>
				<a href="{{ lastpost.get_absolute_url }}">{{ lastpost.topic }}</a>
			</div>
		{% endfor %}
		<table class="stats right">
			<tr>
				<td class="left">Сообщений</td>
				<td>{{ posts }}</td>
			</tr>
			<tr>
				<td class="left">Тем</td>
				<td>{{ topics }}</td>
			</tr>
			<tr>
				<td class="left">Участников</td>
				<td>{{ users }}</td>
			</tr>
		</table>
		<div class="stats_item right">
			<div class="stats_item_new left">Новый участник:</div>
			{{ last_user|profile_link }}
		</div>
		{% if online_count %}
		<div class="stats_item right">
				<div class="left">Сейчас на форуме:</div>
				<div id="onlinelist">
					{% for online in users_online %}
						{{ online|profile_link }}
					{% endfor %}
				</div>
		</div>
		{% endif %}
	</div>

{% endblock %}
