{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}
<div class="blockform">
	<h2><span>Отправить e-mail {{ mailto }}</span></h2>
	<div class="box">
		<form id="email" method="post">
			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>Напишите и отправьте ваше сообщение</legend>
					<div class="infldset txtarea">
						<label><strong>{{ form.subject.label }}</strong><br />
						{{ form.subject }}<br /></label>
						<label><strong>{{ form.body.label }}</strong><br />
						{{ form.body }}<br /></label>
						<p>Пожалуйста, обратите внимание, что при использовании этой формы, ваш электронный адрес станет известен получателю.</p>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" name="submit" value="Отправить" tabindex="3" accesskey="s" /><a href="javascript:history.go(-1)">Назад</a></p>
		</form>
	</div>
</div>

{% endblock %}

{% block controls %}
{% endblock %}
