{% extends 'djangobb_forum/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}
{% load tz %}

{% block page-name %}{% blocktrans with name=forum.name %}Moderate - {{name}}{% endblocktrans %}{% endblock %}

{% block content %}
{% autopaginate topics forum_settings.FORUM_PAGE_SIZE %}
<div class="linkst">
    {% paginate %}
    <ul>
        <li><a href="{% url djangobb:index %}">{% trans "Discussion Forums" %}</a></li>
        <li>&raquo; {% link forum %}</li>
        <li>&raquo; {% trans "Moderate Forum" %}</li>
    </ul>
</div>

<form method="post">
{% csrf_token %}
<div id="vf" class="blocktable">
    <div class="box">
        <div class="box-head">
            <h4>{{ forum }}</h4>
        </div>
        <div class="box-content">
            <table cellspacing="0">
                <thead>
                    <tr>
                        <th class="tcl" scope="col">{% trans "Topic" %}</th>
                        <th class="tc2" scope="col">{% trans "Replies" %}</th>
                        <th class="tc3" scope="col">{% trans "Views" %}</th>
                        <th class="tcr">{% trans "Last Post" %}</th>
                        <th class="tcmod" scope="col">{% trans "Select" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% if topics %}
                    {% for topic in topics %}
                        <tr>
                            <td class="tcl">
                                <div class="intd">
                                    <div {% if topic.sticky %}class="isticky{% if topic.closed %} iclosed{% endif %}"{% else %}{% if topic.closed %}class="iclosed"{% else %}{% if topic|has_unreads:user %}class="inew"{% else %}class="forumicon"{% endif %}{% endif %}{% endif %}><div class="nosize"><!-- --></div></div>
                                    <div class="tclcon">
                                        {% if topic.sticky %}
                                            {% trans "Sticky:" %}
                                        {% endif %}
                                        <h3 {% if not topic|has_unreads:user %}class="topic_isread"{% endif %}>{% link topic %}</h3>
                                        <span class="byuser">{% trans "by" %} {{ topic.user.username }}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="tc2">{{ topic.reply_count }}</td>
                            <td class="tc3">{{ topic.views }}</td>
                            <td class="tcr"><a href="{{ topic.get_absolute_url }}">{{ topic.updated|localtime|forum_time }}</a> <span class="byuser">{% trans "by" %} {{ topic.last_post.user.username }}</span></td>
                            <td class="tcmod"><input type="checkbox" name="topic_id" value="{{ topic.id }}" /></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td class="djangobbcon1" colspan="4">{% trans "Forum is empty." %}</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="linksb">
    {% paginate %}
    <ul>
        <li><a href="{% url djangobb:index %}">{% trans "Discussion Forums" %}</a></li>
        <li>&raquo; {% link forum %}</li>
        <li>&raquo; {% trans "Moderate Forum" %}</li>
    </ul>
</div>

<div class="box">
    <div class="box-head">
        <h4>{% trans "Moderate Forum" %}</h4>
    </div>
    <div class="box-content">
        <p>
            <button class="grey button" type="submit" name="move_topics"><span>{% trans "Move" %}</span></button>
            <button class="grey button" type="submit" name="delete_topics"><span>{% trans "Delete" %}</span></button>
            <button class="grey button" type="submit" name="open_topics"><span>{% trans "Open" %}</span></button>
            <button class="grey button" type="submit" name="close_topics"><span>{% trans "Close" %}</span></button>
        </p>
    </div>
</div>
</form>
{% endblock %}

{% block controls %}
{% endblock %}
