{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block content %}
<div class="box">
    <div class="box-head">
        <h4>{% trans "Move Topic" %}</h4>
    </div>
    <div class="box-content">
        <form method="post" action="{% url djangobb:move_topic %}">
            {% csrf_token %}
            {% for topic_id in topic_ids %}
                <input type="hidden" value="{{ topic_id }}" name="topic_id"/>
            {% endfor %}
            <label>
                <strong>{% trans "Move to" %}</strong>
                <select name="to_forum">
                {% for category in categories %}
                    <optgroup label="{{ category }}">
                    {% for forum in category.forums.all %}
                        {% if forum != exclude_forum %}
                            <option value="{{ forum.id }}">{{ forum.name }}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
            </label>
            <p class="form-submit">
                <button type="submit" class="grey button"><span>{% trans "Move" %}</span></button>
                <a href="javascript:history.go(-1)">{% trans "Go back" %}</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
