{% extends 'djangobb_forum/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}/djangobb_forum/js/move_posts.js"></script>
{% endblock %}

{% block content %}
{% autopaginate posts forum_settings.TOPIC_PAGE_SIZE %}
<div class="linkst">
    {% paginate %}
    <ul>
        <li><a href="{% url djangobb:index %}">{% trans "Forums Home" %}</a></li>
        <li>&raquo; {% link topic.forum %}</li>
        <li>&raquo; {% link topic %}</li>
        <li>&raquo; {% trans "Move Posts" %}</li>
    </ul>
</div>

<form method="post">
{% csrf_token %}
{% for post in posts %}
<div id="p{{ post.id }}" class="blockpost roweven firstpost">
    <a name="post-{{ post.id }}"></a>
    <div class="box">
        <div class="box-head">
            <span class="conr">#{{ forloop.counter }}</span>
            <a href="{{ post.get_absolute_url }}">{{ post.created|forum_time }}</a>
        </div>
        <div class="box-content">
            <div class="postleft">
                <dl>
                    <dt><strong><a href="{% url profile_detail post.user.username %}">{{ post.user.username }}</a></strong></dt>
                    <dd class="usertitle"><strong>{{ post.user.forum_profile.status }}</strong></dd>
                </dl>
            </div>
            <div class="postright">
                <h3>{{ post.topic.name }}</h3>
                <div class="postmsg">
                    <div class="post_body_html">{{ post.body_html|safe }}</div>
                    {% if post.updated %}
                        <p class="postedit"><em class="posteditmessage">{% blocktrans with user=post.updated_by.username time=post.updated|forum_time %}Last edited by {{ user }} ({{ time }}){% endblocktrans %}</em></p>
                    {% endif %}
                </div>
                <p class="multidelete"><label>
                    {% trans "Select" %}
                    <input type="checkbox" name="post" value="{{ post.id }}" />
                </label></p>
            </div>
            <div class="clearer"></div>
        </div>
    </div>
</div>
{% endfor %}

<div class="linksb">
    {% paginate %}
    <ul>
        <li><a href="{% url djangobb:index %}">{% trans "Forums Home" %}</a></li>
        <li>&raquo; {% link topic.forum %}</li>
        <li>&raquo; {% link topic %}</li>
        <li>&raquo; {% trans "Move Posts" %}</li>
    </ul>
</div>

<div class="box">
    <div class="box-head">
        <h4>{% trans "Move Posts" %}</h4>
    </div>
    <div class="box-content">
        {% for topic_id in topic_ids %}
            <input type="hidden" value="{{ topic_id }}" name="topic_id"/>
        {% endfor %}
        <label>
            <strong>{% trans "Topic ID or URL" %}</strong>
            <input type="text" name="to_topic" />
        </label>
        <p class="form-submit">
            <button type="submit" class="grey button"><span>{% trans "Move" %}</span></button>
            <a href="javascript:history.go(-1)">{% trans "Go back" %}</a>
        </p>
    </div>
</div>
</form>
{% endblock %}
