{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}
<div class="blockform">
	<h2><span>Перенос темы</span></h2>
	<div class="box">
		<form method="POST" action="{% url 'djangobb:move_topic' %}">
			{% csrf_token %}
			<div class="inform">
				{% for topic_id in topic_ids %}
					<input type="hidden" value="{{ topic_id }}" name="topic_id"/>
				{% endfor %}
				<fieldset>
					<legend>Форум назначения</legend>
					<div class="infldset">
						<label>Перенести в<br />
						<select name="to_forum">
						{% for category in categories %}
							<optgroup label="{{ category }}">
							{% for forum in category.forums.all %}
								{% if forum != exclude_forum %}
									<option value="{{ forum.id }}">{{ forum.name }}</option>
								{% endif %}
							{% endfor %}
							</optgroup>
						{% endfor %}
						</select>
						<br /></label>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" value="Перенести" /><a href="javascript:history.go(-1)">Назад</a></p>
		</form>
	</div>
</div>
{% endblock %}
