<!doctype html>
<head>
<link href="{{ STATIC_URL }}/djangobb_forum/themes/base.css" rel="stylesheet">
<link href="{{ STATIC_URL }}/djangobb_forum/themes/scratch_default_theme_copy/css/default_cs.css" rel="stylesheet">
<link href="{{ STATIC_URL }}/css/pages/forums.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/djangobb_forum/css/pygments.css" />
<style>
body {
    color: #211922;
    font: 13px "Helvetica Neue", Arial, sans-serif;
    text-shadow: 0 1px #fff;
    margin: 6px;
}
a {
    color: #1AA0D8;
    text-decoration: none;
    text-shadow: none;
}
a:hover, a:active {
    color: #1AA0D8;
    text-decoration: underline;
}
</style>
</head>
<body class="djangobb">
<div class="postmsg">
<div class="post_body_html">{{ data|safe }}</div>
</div>
</body>
