{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}
{% load pagination_tags %}

{% block forum_content %}
{% autopaginate posts forum_settings.FORUM_PAGE_SIZE %}
<div class="breadcrumbs">
	<div class="crumb">
            <a href="{{ as_topic_url }}">Показать в виде тем</a>
    </div>
</div>

<div class='content maincolor'>

	<div class="paginator_up">
		{% paginate %}
	</div>

	{% for post in posts %}
		{% if post.object %}
		    {% with post=post.object %}
		        {% include "djangobb_forum/includes/post_in_search_page.html" %}
		    {% endwith %}
		{% else %}
		    {% include "djangobb_forum/includes/post_in_search_page.html" %}
		{% endif %}
		{% empty %}
		<div id="msg" class="block">
			<h2><span>Просто информация</span></h2>
			<div class="box">
				<div class="inbox">
				<p>Эмм... Ничего нет...</p>
				<p><a href="javascript: history.go(-1)">Вернуться</a></p>
				</div>
			</div>
		</div>
	{% endfor %}

</div>

<div class="paginator_down_topic">
		{% paginate %}
</div>
{% endblock %}