{% extends 'djangobb_forum/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}
{% autopaginate topics forum_settings.SEARCH_PAGE_SIZE %}
<div class="breadcrumbs">
	<div class="crumb">
            <a href="{{ as_post_url }}">Последние темы в виде постов</a>
    </div>
</div>

<div class='content cont_forum maincolor'>


<div class="paginator_up">
	{% paginate %}
</div>
			<table cellspacing="0" class="table_head">
				<thead>
					<tr>
						<th class="tcs1 borderb center" scope="col">Темы</th>
						<th class="tcs2 borderb center" scope="col">Форум</th>
						<th class="tcs3 borderb center" scope="col">Ответы</th>
						<th class="tcs4 borderb center" scope="col">Последний пост</th>
					</tr>
				</thead>
			</table>
			<table cellspacing="0" class="table_forum">
			<tbody>
			{% for topic in topics %}
				<tr {% if topic|has_unreads:user %}class="new"{% else %}class="nonew"{% endif %}>
					<td class="tcs1">
						<div>
							{% if topic.closed %}
								<div class="icon closed">
							{% else %}
								{% if topic|has_unreads:user %}
									{% if topic.reply_count > 10 %}
										<div class="icon topicnewhot">
									{% else %}
										<div class="icon topicnew">
									{% endif %}
								{% else %}
									{% if topic.reply_count > 10 %}
										<div class="icon topiciconhot">
									{% else %}
										<div class="icon topicicon">
									{% endif %}
								{% endif %}
							{% endif %}
						</div>
							<div class="tclcon">
								<div>
									{% if topic|has_unreads:user %}
										<strong>{% link topic %}</strong>
									{% else %}
										{% link topic %}
									{% endif %}
								</div>
								<span>{{ topic.user.username }}</span>
							</div>
						</td>
					<td class="tcs2">{% link topic.forum %}</td>
					<td class="tcs3 center">
						{% if topic.reply_count > 0 %}
							<a href="{{ topic.last_post.get_absolute_url }}">{{ topic.reply_count }}</a>
						{% else %}
							{{ topic.reply_count }}
						{% endif %}
					</td>
					<td class="tcs4">
							<div class="over">
					 			<!--<a href="{{ topic.last_post.get_absolute_url }}" title="{{ topic.last_post }}">-->
					 				{{ topic.last_post.user.username }}
					 			<!--</a>-->
					 		</div>
							<div class="right inactive">
								{% forum_time topic.updated %}
							</div>
					</td>
				</tr>
			{% empty %}
			     <tr>
			         <td colspan="4"><p>Эмм... Нет результатов...</p></td>
			     </tr>
			{% endfor %}
			</tbody>
			</table>
</div>
<div class="paginator_down">
	{% paginate %}
</div>
{% endblock %}
