{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load pagination_tags %}
{% load i18n %}

{% block title %} / {{ topic.forum.name }} / {{ topic.name }}{% endblock %}
{% block forum_content %}
{% autopaginate posts forum_settings.TOPIC_PAGE_SIZE %}
{% if "[h]" in topic.name and not user.is_authenticated %}
	{% include '404b.html' %}
{% else %}
<div id="breadcrumbs">
		{% if topic.name %}
			<a href="{% url 'djangobb:index' %}">Форум IceBorn</a>
			&#8594; {% link topic.forum %}
			&#8594; <strong>{{ topic.name }}</strong>
			{% if user.is_authenticated %}  
				{% if subscribed %}
					<a class="subscribelink clearb" href="{% url 'djangobb:forum_delete_subscription' topic.id %}?from_topic">Отписаться от темы</a>
	            {% else %}
					<a class="subscribelink clearb" href="{% url 'djangobb:forum_add_subscription' topic.id %}">Подписаться на тему</a>
	            {% endif %}
            {% endif %}
		{% endif %}
	</div>

{% if poll_form %}       
	<div id="poll maincolor">
	<p><strong>{{ poll.question }}</strong></p>
		<form action="." method="post">{% csrf_token %}
			{{ poll_form }}
    		{% if poll.choice_count > 1 %}
	    		<p>
        			{% blocktrans with count=poll.choice_count %}({{ count }} answers allows.){% endblocktrans %}
				</p>
			{% endif %}
			<input class="poll_button" type="submit" name="{{ poll_form.FORM_NAME }}" value="Голосовать" />
		</form>
	</div> 
{% else %}
	{% if poll.question %}
		<div id="poll">
			<p><strong>{{ poll.question }}</strong></p>
			<ul>               
				{% for choice in poll.choices.all %}
					<li>
						<div class="bar" style="width:{{ choice.percent|floatformat:0 }}%;" title="{{ choice.choice }}">&nbsp;</div>
						<div class="onbar"> {{ choice.percent|floatformat:1 }}%({{ choice.votes }}) {{ choice.choice }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endif %}
<div class='content cont_topic maincolor'>

{% if poll %}
{% endif %}
	{% for post in posts %}
		<div id="p{{ post.id }}" class="post"><a name="post-{{ post.id }}"></a>
			<div class='postleft center'>
				<div class='postavatar'>
					<a href="{% url 'djangobb:forum_profile' post.user.username %}" title='Профиль'>
						{% if post.user.forum_profile.avatar and post.user.forum_profile.show_avatar %}
							<img src="{{ post.user.forum_profile.avatar.url }}" />
						{% else %}
							{% if forum_settings.GRAVATAR_SUPPORT %}
								<img src="{% gravatar post.user.email %}" />
							{% endif %}
						{% endif %}
					</a>
				</div>
				<div class="post_act">
					<!--{% if user.is_authenticated %}
						<a href="{% url 'messages_compose_to' post.user.username %}" title='Отправить ПМ'>
							<div class='postpm'></div>
						</a>&nbsp;&nbsp;</dd>
					{% endif %}-->
					<div>
						<img src="http://static.iceborn.ru/img/regdate_16.png" alt="Дата регистрации"> {{ post.user.date_joined|date:"d.m.y" }}
						<br><img src="http://static.iceborn.ru/img/comment-count.png" alt="Всего сообщений"> {{ post.user.forum_profile.post_count }}
					</div>
				</div>
			</div>
			<div class='postcontent'>
				<div class='posthead right {% if post.user|online %}online{% else %}offline{% endif %}'>
					<div class='postusername'>{{ post.user.username }}</div>
					{% if user.is_authenticated %}
						<a href="{% url 'messages_compose_to' post.user.username %}" title='Отправить ПМ'><div class='postpm'></div></a>&nbsp;&nbsp;</dd>
					{% endif %}
					{% if post.user|online %}
							 (online)
						{% else %}
							 (offline)
					{% endif %}
					<a href="{{ post.get_absolute_url }}">{% forum_time post.created %}</a>
				</div>
				<div class='posttext'>
					{{ post.body_html|safe }}
				</div>
				<div class='attachments'>
					{% with post.attachments.all as attachments %}
						{% if attachments %}
							{% for attach in attachments %}
								<p class="postedit"><em>Вложения: <br />{{ attach|attachment_link }}</em></p>
							{% endfor %}
						{% endif %}
					{% endwith %}
				</div>
				{% if not user.is_authenticated or user.forum_profile.show_signatures %}
					{% if post.user.forum_profile.signature_html %}
						<div class='post_signature'>
							<span class='postsignature'> 
								{{ post.user.forum_profile.signature_html|safe }}
							</span>
						</div>
					{% endif %}
				{% endif %}
					<div class='post_button'>
						<div>
							{% if moderator %}
								<a onclick="return confirm('Задействовать баннхаммер?')" href="banhammer"><div class='button_post button_post_banhammer'></div></a>
							{% endif %}
							{% if moderator or post.user|forum_equal_to:user %}
								<a onclick="return confirm('Вы действительно хотите удалить это сообщение?')" href="{% url 'djangobb:delete_post' post.id %}"><div class='button_post button_post_delete'></div></a>
							{% endif %}
							{% if moderator or post|forum_posted_by:user %}
								<a href="{% url 'djangobb:edit_post' post.id %}"><div class='button_post button_post_edit'></div></a>
							{% endif %}

							{% if user.is_authenticated %}
								<a onclick="return copy_paste('p{{ post.id }}');" href="#reply" title="Цитировать пост полностью или только выделенную часть."><div class='button_post button_post_quote'></div></a>
							{% endif %}
						</div>
					</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="paginator_down_topic">
	{% paginate %}
</div>
<div class="postsend_cont">
{% if reply_form %}
    {% with form=reply_form %}
        {% include "djangobb_forum/includes/post_form.html" %}
    {% endwith %}
{% endif %}
</div>

{% endif %}
{% endblock %}

