{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}
<div class="content blockform">
	<h2><span>Загрузить аватар</span></h2>
	<div class="box">
		<form id="upload_avatar" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>Выбирите файл для загрузки</legend>
					<div class="infldset">
						{{ form.avatar.errors }}
						<label><strong>{{ form.avatar.label }}</strong><br />
						{{ form.avatar }}
						<br /></label>
						<p>{% blocktrans %}Может быть не больше {{ avatar_width }} x {{ avatar_height }} пикселей{% endblocktrans %}</p>
					</div>
				</fieldset>
			</div>
			<p><input type="submit" name="upload" value="{% trans "Загрузить" %}" /><a href="javascript:history.go(-1)">{% trans "Назад" %}</a></p>
		</form>
	</div>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
