{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

<!-- ██████ -->


{% block forum_content %}
{% if not user.is_authenticated %}
	{% include 'account/login_403_include.html' %}
{% else %}
						
<div id="viewprofile" class="maincolor content">
	<div class="profile_header">
		Дело № {{ profile.forum_profile.id }} от {{ profile.date_joined|date:"Y.m.d" }}
		{% if profile.forum_profile.user|online %}
			 (online)
		{% else %}
			 (offline)
		{% endif %}
	</div>
	<div class="profleftblock center">
		{% if profile.forum_profile.avatar %}
			<img src="{{ profile.forum_profile.avatar.url }}"></img>
		{% else %}
			<img src="{% gravatar profile.forum_profile.email %}"></img>
		{% endif %}

		{% if profile.forum_profile.privacy_permission == 0 %}
			<a href="mailto:{{ profile.email }}" title='Отправить E-Mail' class='profile_postmail'>Отправить E-Mail</a>
		{% else %}
			{% if profile.forum_profile.privacy_permission == 1 %}
				<a href="{% url 'djangobb:misc' %}?mail_to={{ profile }}" title='Отправить E-Mail' class='profile_postmail'>Отправить E-Mail</a>
			{% endif %}
		{% endif %}
		{% if forum_settings.PM_SUPPORT %}
			<a href="{% url 'messages_compose_to' profile %}" title='Отправить ПМ' class='profile_postpm'>Отправить ПМ</a></dd>
		{% endif %}
	</div>
	<div class="profile_content">
		<div class="profile_content_group">
			Основные данные
			<div class="profile_string">
				<div class='profile_lcol left'>Ник</div>
				<div class='profile_rcol right'>{{ profile }}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Имя</div>
				<div class='profile_rcol right'>{% if profile.first_name or profile.last_name %}{{ profile.first_name }} {{ profile.last_name }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Статус</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.status %}{{ profile.forum_profile.status }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Адрес</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.location %}{{ profile.forum_profile.location }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Сайт</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.site %}{{ profile.forum_profile.site|urlize }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
		</div>
		<div class="profile_content_group">
			Контакты для связи
			<div class="profile_string">
				<div class='profile_lcol left'>ICQ</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.icq %}{{ profile.forum_profile.icq }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Skype</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.yahoo %}{{ profile.forum_profile.yahoo }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
		</div>
		<div class="profile_content_group">
			Социальные сети
			<div class="profile_string">
				<div class='profile_lcol left'>VK</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.jabber %}{{ profile.forum_profile.jabber }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>FB</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.msn %}{{ profile.forum_profile.msn }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
		</div>
		<div class="profile_content_group">
			Статистика
			<div class="profile_string">
				<div class='profile_lcol left'>Постов</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.last_post %}<a href="{% url 'djangobb:search' %}?action=show_user&amp;user_id={{ profile.id }}">{{ profile.forum_profile.post_count }}</a>{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Последний пост</div>
				<div class='profile_rcol right'>{% if profile.forum_profile.last_post %}{{ profile.forum_profile.last_post }}{% else %}<span class="inactive">[CLOSED]</span>{% endif %}</div>
			</div>
		</div>
		<div class="profile_content_group">
			Подпись
			<div class="profile_string">
				{% if profile.forum_profile.signature_html %}
					{{ profile.forum_profile.signature_html|safe }}
				{% else %}
					<span class="inactive">[Нет данных]</span>
				{% endif %}
			</div>
		</div>
		<!--
		<div class="profile_content_group">
			Профиль PrX <span class="inactive">[Не создан]</span>
			<div class="profile_string">
				<div class='profile_lcol left'>Локация</div>
				<div class='profile_rcol right'><span class="inactive">[CLOSED]</span></div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Компания</div>
				<div class='profile_rcol right'><span class="inactive">[CLOSED]</span></div>
			</div>
			<div class="profile_string">
				<div class='profile_lcol left'>Боевые клоны</div>
				<div class='profile_rcol right'><span class="inactive">[CLOSED]</span></div>
			</div>
		</div>
		-->
	</div>
	<div class="postfooter"></div>
</div>

{% endif %}
{% endblock %}
