{% extends 'djangobb_forum/base.html' %}
{% load pagination_tags %}
{% load forum_extras %}
{% load i18n %}

{% block forum_content %}
{% autopaginate users forum_settings.USERS_PAGE_SIZE %}
<div id="profile" class="content cont_index">
	<h2><span>Поиск пользователей</span></h2>
	<div class="box">
		<form method="get" id="userlist" action="">
			<div class="inform">
				<fieldset class="infldset_user_search">
						<label class="conl">Имя пользователя {{ form.username }}</label>
						<label class="conl">Сортировать {{ form.sort_by }}</label>
						<label class="conl">{{ form.sort_dir }}</label>
				</fieldset>
	            <input type="submit" value="Найти" class="button_user_search"/>
			</div>
		</form>
	</div>

	<div class="paginator_up">
		<div class="inbox">
			{% paginate %}
		</div>
	</div>
	<div id="users1" class="blocktable">
		<table cellspacing="0">
			<thead>
			<tr class="table_head">
				<th class="tc4" scope="col">Имя пользователя</th>
				<th class="tc1" scope="col">Заголовок</th>
				<th class="tc2" scope="col">Посты</th>
				<th class="tc3" scope="col">Зарегестирован</th>
			</tr>
			</thead>
			<tbody class="table_forum">
			{% for profile in users %}
				<tr>
					<td class="tc4">{{ profile|profile_link }}</td>
					<td class="tc1">{{ profile.forum_profile.status }}</td>
					<td class="tc2">{{ profile.forum_profile.post_count }}</td>
					<td class="tc3">{{ profile.date_joined|date:"d-m-Y" }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="paginator_down">
	<div class="inbox">
		{% paginate %}
	</div>
</div>
{% endblock %}

