{% extends 'djangobb_forum/mobile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block title %}{% block page-name %}{% trans "Scratch Forums" %}{% endblock %}{% endblock %}

{% block content %}
<ul class="category list">
{% for iter in cats %}
    <li>{{ iter.cat }}</li>
    <ul class="forum list">
    {% for forum in iter.forums %}
        <li{% if forum|forum_unreads:user %} class="unread"{% endif %}>
            <a href="{{ forum.get_mobile_url }}">
                <strong>{{ forum.name }}</strong>
                <span>{% blocktrans count forum.post_count as posts %}{{ posts }} post{% plural %}{{ posts }} posts{% endblocktrans %}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
{% endblock %}

{% block full-link %}{% url djangobb:index %}{% endblock %}


