{% load i18n %}
{% load forum_extras %}
<ol class="topic list">{% for topic in topics %}{% with unread=topic|has_unreads:user %}
    <li class="{% if topic.sticky %}sticky {% endif %}{% if topic.closed %}closed {% endif %}{% if unread %}unread-topic{% endif %}">
        <a class="item" href="{{ topic.get_absolute_url }}lofi/">
            <strong>{{ topic.name }}</strong>
            <span>{% blocktrans count topic.reply_count as replies %}{{ replies }} reply{% plural %}{{ replies }} replies{% endblocktrans %}</span>
        </a>{% if unread %}
        <a href="{{ topic|lofi_unread_link:user }}" class="unread">(New Posts)</a>{% endif %}
    </li>{% endwith %}{% empty %}
    <li class=none>{% trans "No topics." %}</li>{% endfor %}
</ol>
