{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}
<form id="profile2" method="post">
	{% csrf_token %}
		<fieldset>
				{{ form.name.errors }}
				<label>Имя{{ form.name }}</label>
				{% if request.user.is_superuser %}
					{{ form.status.errors }}
					<label>Статус{{ form.status }}</label>
				{% endif %}
				{{ form.location.errors }}
				<label>Расположение/адрес{{ form.location }}</label>
				{{ form.site.errors }}
				<label>Сайт{{ form.site }}</label>
		</fieldset>
	<input name="update" value="Применить" type="submit">
</form>
{% endblock %}

{% block controls %}
{% endblock %}
