{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}
<div class="box">
	<form id="profile3" method="post">
		{% csrf_token %}
		<div class="inform">
				<div class="infldset">
					<legend>Мессенджеры</legend>
					{{ form.icq.errors }}
					<label>ICQ{{ form.icq }}</label>
					{{ form.yahoo.errors }}
					<label>Skype{{ form.yahoo }}</label>
					<legend>Социальные сети</legend>
					{{ form.jabber.errors }}
					<label>VK{{ form.jabber }}</label>
					{{ form.msn.errors }}
					<label>FB{{ form.msn }}</label>
				</div>
		</div>
		<input name="update" value="Применить" type="submit">
	</form>
</div>
{% endblock %}

{% block controls %}
{% endblock %}
