{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}

<form id="profile1" method="post">
	{% csrf_token %}
		<fieldset>
			<legend>Учетные данные</legend>
				{{ form.username.errors }}
				<label>
					<strong>{{ form.username.label }}</strong>
					{{ form.username }}
					{% if not request.user.is_superuser %}
						<span class="profile_input_simulate">{{ form.fields.username.initial }}</span>
					{% endif %}
				</label>
				<a href="{% url 'account_change_password' %}">Изменить пароль</a>
				
		</fieldset>
		<fieldset>
				{{ form.email.errors }}
				<label>
					<strong>{{ form.email.label }}</strong>
					{{ form.email }}
				</label>
				{% if request.user.is_superuser %}
					<a href="{% url 'djangobb:misc' %}?mail_to={{ profile }}">отправить письмо</a>
				{% endif %}
		</fieldset>
		<fieldset>
			<legend>Активность</legend>
				<label>Зарегистрирован: {{ profile.date_joined|date:"Y-m-d" }}</label>
				<label>Последнее сообщение: {{ profile.forum_profile.last_post }}</label>
				<label>Всего сообщений: {{ profile.forum_profile.post_count }} - 
				<a href="{% url 'djangobb:search' %}?action=show_user&user_id={{ profile.id }}">показать все</a></p>
				</label>
		</fieldset>
	<input name="update" value="Сохранить" type="submit">
</form>
		<!--
-->

{% endblock %}

{% block controls %}
{% endblock %}
