{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}
<form id="profile6" method="post">
	{% csrf_token %}
		<fieldset>
				{{ form.privacy_permission.errors }}
				<p>Выберете стоит-ли отображать ваш почтовый ящик другим пользователям. И разрешать-ли другим пользователям отправлять вам электронные письма с форума.</p>
					<ul id="id_privacy_permission">
						<li>
							<label for="id_privacy_permission_0">
								<input id="id_privacy_permission_0" name="privacy_permission" type="radio" value="0">
								Отображать e-mail.
							</label>
						</li>
						<li>
							<label for="id_privacy_permission_1">
								<input checked="checked" id="id_privacy_permission_1" name="privacy_permission" type="radio" value="1">
								Скрыть e-mail, но разрешить отправку писем.
							</label>
						</li>
						<li>
							<label for="id_privacy_permission_2">
								<input id="id_privacy_permission_2" name="privacy_permission" type="radio" value="2">
								Скрыть адрес и запретить отправку писем.
							</label>
						</li>
					</ul>
		</fieldset>
	<input name="update" value="{% trans "Submit" %}" type="submit">
</form>
{% endblock %}

{% block controls %}
{% endblock %}
