{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}
<form id="profile4" method="post">
	{% csrf_token %}
	<div class="profile_personal">
		<script>
            $(document).ready(function() {
                $('.profile_change_signature_form').hide();
                $(".profile_change_signature").click(function() {
                    $('.profile_change_signature_form').slideDown();
                    $('.profile_change_signature').hide();
                });
            });
        </script>

		<div class="profile_avatar">
			{{ profile.forum_profile.avatar.errors }}
			{{ form.show_avatar.errors }}
			{% if profile.forum_profile.avatar %}
				<img src="{{ profile.forum_profile.avatar.url }}"></img>
			{% else %}
				<img src="{% gravatar profile.forum_profile.email %}"></img>
			{% endif %}
			<a href="{% url 'djangobb:forum_profile_upload_avatar' profile.username %}">Сменить аватар</a>
		</div>
		{{ form.signature.errors }}
		{% if profile.forum_profile.signature_html %}
			{{ profile.forum_profile.signature_html|safe }}
		{% else %}
			Пока нет подписи
		{% endif %}
		<span class="profile_change_signature">Сменить</span>
		<div class="profile_change_signature_form">
			<textarea class="markup" cols="30" id="id_signature" name="signature" rows="10"></textarea>
		</div>
	</div>
	<input name="update" value="Сохранить" type="submit">
</form>
{% endblock %}

{% block controls %}
{% endblock %}
