{% load i18n %}
	<div class="profile_menu">
		<ul>
			<li {%if active_menu == "essentials" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_essentials' profile %}">Настройки</a></li>
			<!--li {% if active_menu == "admin" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile' profile %}?section=admin">{% trans "Administration" %}</a></li-->
			<li {%if active_menu == "personal" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_personal' profile %}">Персональные</a></li>
			<li {%if active_menu == "messaging" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_messaging' profile %}">Контакты</a></li>
			<li {%if active_menu == "personality" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_personality' profile %}">Аватар и подпись</a></li>
			<li {%if active_menu == "display" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_display' profile %}">Внешний вид</a></li>
			<li {%if active_menu == "privacy" %}class="isactive"{% endif %}><a href="{% url 'djangobb:forum_profile_privacy' profile %}">Приватность</a></li>
			{# if request.user.is_superuser #}
			{# endif #}

		</ul>
	</div>
