{% extends 'djangobb_forum/profile/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block profile_content %}
<form id="profile5" method="post">
	{% csrf_token %}
		<fieldset>
				{{ form.theme.errors }}
				<label>
					Тема внешнего вида форума
					{{ form.theme }}
				</label>
		</fieldset>
		<fieldset>
				{{ form.markup.errors }}
				<label>
					Редактор комментариев
					{{ form.markup }}
				</label>
		</fieldset>
		<fieldset>
				{{ form.show_smilies.errors }}
				<label>
					{{ form.show_smilies }}
					Отображать смайлы
				</label>
		</fieldset>
	<input name="update" value="Применить" type="submit">
</form>
{% endblock %}

{% block controls %}
{% endblock %}
