{% load i18n %}
	<div class="blockmenu">
		<h2><span>{% trans "Private Messages" %}</span></h2>
		<div class="box">
			<div class="inbox">
				<ul>
					<li {%ifequal active_menu "inbox" %}class="isactive"{% endifequal %}><a href="{% url forum_pm_inbox %}">{% trans "Inbox" %}</a></li>
					<li {%ifequal active_menu "outbox" %}class="isactive"{% endifequal %}><a href="{% url forum_pm_outbox %}">{% trans "Sent" %}</a></li>
					<li {%ifequal active_menu "create" %}class="isactive"{% endifequal %}><a href="{% url forum_create_pm %}">{% trans "Send new message" %}</a></li>
				</ul>
			</div>
		</div>

	</div>