{% load i18n %}
{% if user.is_authenticated %}
    {% if post %}
        {% with markup=post.markup %}
            {% include "djangobb_forum/includes/markup_editor.html" %}
        {% endwith %}
    {% else %}
        {% with markup=user.forum_profile.markup %}
            {% include "djangobb_forum/includes/markup_editor.html" %}
        {% endwith %}
    {% endif %}
    <script type="text/javascript">
       $(document).ready(function() {
        $(".markup").markItUp(mySettings);
        
       });
    </script>
{% endif %}
<div class="comment_form" id="reply">
        <script language="javascript">
            function SendComment(e) {
                e = e || window.event;
                if (e.keyCode == 13 && e.ctrlKey) {
                    document.getElementById('post_button').click();

                };
            };
        </script>
        <form id="post_add" name="post_com" action="{{ form_url|default_if_none:"." }}" method="post" enctype="multipart/form-data" onkeydown="SendComment(event)">
            {% csrf_token %}
<!--            <div class="inform">-->
                <fieldset>
                    <noscript><h1>Please enable JavaScript!</h1></noscript>
                    <div class="infldset txtarea">
                        <label>
                            <textarea class="markup" id="id_body" name="body" placeholder="Есть что написать?"></textarea>
                            <!--{{ form.body }}-->
                            {{ form.body.errors }}
                        </label>
                        <label class='postsendbutton'><input type="submit" id="post_button" name="{{ form.FORM_NAME }}" value="Отправить" /></label>
                    </div>
                </fieldset>
<!--            </div>-->
            {% if forum_settings.ATTACHMENT_SUPPORT %}
                <fieldset class="topic_add_attach">
                    <div class="infldset">
                        {{ form.attachment.errors }}
                        <div class="rbox">
                            {{ form.attachment }}
                        </div>
                    </div>
                </fieldset>
            {% endif %}
        </form>
</div>
