{% load i18n %}
<div class="box" id="reply">
    <div class="box-head">
        <h4>{% if forum %}{% trans "New Topic" %}{% else %}{% trans "New Reply" %}{% endif %}</h4>
    </div>
    <div class="box-content">
        <form id="post" action="{{ form_url|default_if_none:"." }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: none" id="simple-user-agent">My browser / operating system: {{ simple_user_agent|default:'NOT PROVIDED' }}</div>
            
            {% if create_poll_form %}
            <script>{# TODO: move to html head! #}
                $(document).ready(function() {
                    $('.poll .infldset').hide();
                    $(".poll").click(function() {
                        $('.poll .infldset').slideDown();
                    });
                });
            </script>
            <div class="inform poll">
                <fieldset>
                    <legend>{% trans "Create a poll" %}</legend>
                    <div class="infldset">
                        <div class="rbox">
                            {{ poll_form }}
                        </div>
                    </div>
                </fieldset>
            </div>
            {% endif %}
            
            <noscript><h1>Please enable JavaScript!</h1></noscript>
            {% if forum %}
                <label>
                    <strong>{% trans "Subject" %}</strong>
                    {{ form.name.errors }}
                    {{ form.name }}
                </label>
            {% endif %}
            <label>
                <strong>{% trans "Message" %}</strong>
                {{ form.body.errors }}
                {{ form.body }}
            </label>

            <div style="display: none">
                {{ form.subscribe }}
            </div>

            {% if forum_settings.ATTACHMENT_SUPPORT %}
                <div class="inform">
                    <fieldset>
                        <legend>{% trans "Attachment" %}</legend>
                        <div class="infldset">
                            {{ form.attachment.errors }}
                            <div class="rbox">
                                {{ form.attachment }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            {% endif %}
            <div class="form-submit">
                <button type="submit" class="grey button" name="{{ form.FORM_NAME }}"><span>{% trans "Submit" %}</span></button>
                <a href="{{ back_url|default_if_none:"javascript:history.go(-1)" }}">{% trans "Go back" %}</a>
            </div>
        </form>
    </div>
</div>
