{% extends "forum/base.html" %}
{% load i18n %}
{% load forum_extras %}

{% block content %}
<div class="blockform">
	<h2><span>{% trans "OpenID is verified" %}</span></h2>
	<div class="box">
			<div class="inform">
				<form name="fregister" action="{% url user_register %}" method="POST">
				{% csrf_token %}
				<div class="forminfo">
					<h3>{% trans "Your OpenID is verified! " %}</h3>
					{% blocktrans %}
					<p>Your OpenID can now be associated with a new or existing membership. You can change the association later in your preferences.</p>
					{% endblocktrans %}
				</div>
				<div class="forminfo">
					<h3>{% trans "Associate your OpenID" %}</h3>
					{% blocktrans %}
					<p>If you're joining <strong>Sitename</strong>, associate your OpenID with a new account. If you're already a member, associate with your existing account.</p>
					{% endblocktrans %}
				</div>
				<fieldset>
					<legend>{% trans "A new account" %}</legend>
						<div class="infldset">
							{{ form1.username.errors }}
							{{ form1.email.errors }}
							<label for="id_username1"><strong>{% trans "Username" %}</strong><br />{{ form1.username }}<br /></label>
							<label for="id_email1"><strong>{% trans "Email" %}</strong><br />{{ form1.email }}<br /></label>
							<p><input type="submit" value="{% trans "Create account" %}" /></p>
						</div>
				</fieldset>
				</form>
			</div>
			<div class="inform">
				<form name="fverify" action="{% url user_register %}" method="POST">
				{% csrf_token %}
				<fieldset>
					<legend>{% trans "An existing account" %}</legend>
						<div class="infldset">
							{{ form2.username.errors }}
							{{ form2.password.errors }}
							<label for="id_username2"><strong>{% trans "Username" %}</strong><br />{{ form2.username }}<br /></label>
							<label for="id_password2"><strong>{% trans "Password" %}</strong><br />{{ form2.password }}<br /></label>
							<p><input type="submit" value="{% trans "Verify" %}" /></p>
						</div>
				</fieldset>
				</form>
			</div>
	</div>
</div>
{% endblock %}