{% extends "forum/base.html" %}
{% load i18n %}
{% block extra_meta %}
<link rel="stylesheet" href="{{ MEDIA_URL }}openid/css/openid-shadow.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}openid/js/openid-jquery.js"></script>
{% if LANGUAGE_CODE in 'de,en,jp,ru,uk' %}
	<script type="text/javascript" src="{{ MEDIA_URL }}openid/js/openid-{{ LANGUAGE_CODE }}.js"></script>
{% else %}
	<script type="text/javascript" src="{{ MEDIA_URL }}openid/js/openid-en.js"></script>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {
    openid.init('openid_url');
});
</script>
{% endblock %}
{% block content %}
<div class="blockform">
    <h2><span>{% trans "Login" %}</span></h2>
    <div class="box">
		<form id="registration_form" action="." method="post">
		{% csrf_token %}
		<div class="inform">
			{% if msg %}
			<ul class="errorlist">
			    <li>{{ msg }}</li>
			</ul>
			{% endif %}
			{{ form1.non_field_errors.as_ul }}
			{{ form2.non_field_errors.as_ul }}
			<fieldset>
				<legend>{% trans "Sign in using your username and password" %}</legend>
					<div class="infldset">
						{{ form2.username.errors }}
						<label><strong>{{ form2.username.label }}</strong><br />{{ form2.username }}</label>
						{{ form2.password.errors }}
						<label><strong>{{ form2.password.label }}</strong><br />{{ form2.password }}</label>
						<p class="clearb">{% trans "If you have not registered or have forgotten your password click on the appropriate link below." %}</p>
						<p>
							<a href="{% url registration_register %}">{% trans "Not registered yet?" %}</a>&nbsp;&nbsp;
							<a href="{% url auth_password_reset %}">{% trans "Forgotten your password?" %}</a>
						</p>
					</div>
			</fieldset>
		</div>
		<p>
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="{% trans "Login" %}" />
        </p>
		</form>

		<form id="openid_form" name="openid_form" action="." method="post">
		{% csrf_token %}
		<fieldset>
        <input type="hidden" name="action" value="verify" />
        <input type="hidden" name="next" value="{{ next }}" />
		<legend>{% trans "Sign In Using Your OpenID URL" %}</legend>
			<div id="openid_choice">
				<p>{% trans "Please click your account provider:" %}</p>
				<div id="openid_btns"></div>
			</div>
		<div id="openid_input_area">
		    {{ form1.openid_url.errors }}
		    <label for="id_openid_url">OpenId URL :</label>{{ form1.openid_url }}
		    <input name="openid_submit" type="submit" value="{% trans "Sign in with OpenID" %}" />
		</div>
		</fieldset>
		</form>
    </div>
</div>
{% endblock %}
