/* body 			{background-color: #f5f6f7;} 
body 			{background-color: #6e2e3a;}*/
#djangobbwrap 	{}
#brdheader 		{
					background-color: #666;
					background: linear-gradient(to bottom , #333 85%, #666);
					/*background: linear-gradient(to bottom , #666 80%, #999);
					box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
#brdheader a	{color: #fff}
.glnav			{}
.gn-iceborn 	{
/*					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					border-right: solid 2px #999;*/
					background-image: url(../img/logo_32.png);
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
.gn-users		{
/*					box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
					}
.gn-username	{	/*border-right: solid 2px #999;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
				}
.gn-notify 		{
					background-image: url(../img/notify.png);
/*					box-shadow: 0 0 10px rgba(0,0,0,0.5);
					border-right: solid 2px #999;*/
					background-position: 50% 50%;
					background-repeat: no-repeat;
				}
.gn-exit 		{
/*					box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
					}
.notify_count 	{background-color: red;						color: #fff;					border-color: #fff;}
.exit 			{background-color: #ccc;					color: #000;					border-color: #000;					opacity: 0.5;}

.content 		{}
.cont_forum, .cont_index, .cont_topic 		{background-color: #fef2f2;					box-shadow: 0 5px 30px #000;}
.block2col		{}
.table_head 	{color: #666;}
.table_forum 	{color: #333;}
.table_forum a	{color: #833750;}/*654321*/
.table_forum td {border-color: #eecbd2;}

.forumnew .forumicon	{background: url(../img/forum_new.gif);		background-repeat: no-repeat;}
.nonew .forumicon		{background: url(../img/forum_old.gif);		background-repeat: no-repeat;}
.icon			{}
.sticky			{background: url(../img/thread_hot_new.gif);background-repeat: no-repeat;}
.closed			{background: url(../img/thread_lock.gif);	background-repeat: no-repeat;}
.topicnew		{background: url(../img/thread_new.gif);	background-repeat: no-repeat;}
.topicnewhot	{background: url(../img/thread_hot_new.gif);background-repeat: no-repeat;}
.topicicon		{background: url(../img/thread.gif);		background-repeat: no-repeat;}
.topiciconhot	{background: url(../img/thread_hot.gif);		background-repeat: no-repeat;}
.post_comment 			{border-color: #ccc;}
.posthead		{color: #666;}
.posthead a		{color: #666;}
.postusername 	{color: #08c; text-decoration: underline;}
.postusernames 	{color: #08c; text-decoration: underline;}
.postcontent	{border-color: #ccc; 						box-shadow: 0 3px 4px #ccc;		background-color: #fff}
.online 		{color: green}
.offline 		{color: red}
.postfooter 	{color: #666}
.postfooter	a	{color: #999}
.stats 			{opacity: 0.4;} 
.count 			{background-color: #000;					color: #fff;					border-color: #fff;}
.stusers 		{background: url(../img/members.png);} 
.sttopics 		{background: url(../img/copy.png);}
.stposts 		{background: url(../img/comments.png);}
.stguests 		{background: url(../img/views.png);}
.stnewuser 		{border-color:  #ccc;						color: #999;}
.stnewuser a 	{text-decoration: none;						color: #666	;} /*654321*/
.pagination 	{color: #999;}
.pagination a 	{color: #999;}
.page 			{text-decoration: none;						color: #999;}
#brdfooter  	{color: #ddd;}
#brdfooter a 	{color: #ddd;}

/* ====================================== profile =================================== */
.blockform {background-color: #fef2f2;					box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.blockform h2 {}
.blockmenu {background-color: #fef2f2;					box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.blockmenu h2 {}
.blockmenu a {}
.blockmenu ul {}
.blockmenu li {}
.blockpm {background-color: #fef2f2;					box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.blockpm h2 {}


.prev {text-decoration: none; border-radius: 2px 0 0 2px;}
.next {text-decoration: none; border-radius: 0 2px 2px 0;}
.pagination a{
	color: #333;
	background: #fef2f2;
	padding: 3px 8px;
	border: solid 1px #cec2c2;
	margin-left: 1px;
}
.pag_span{
	color: #666;
	padding: 3px;
	background: #fef2f2;
	border: solid 1px #cec2c2;
	margin-left: 1px;
	padding: 3px 5px;
}
/*.paginator_down a{
	color: #333;
	text-decoration: underline;
	padding: 3px 5px;
}
.paginator_down span{color: #999; padding: 3px 8px;}
.paginator_down_topic a {
	background: #fef2f2;
	background: linear-gradient(to bottom , #6e2e3a , #fef2f2,#fef2f2,#fef2f2,#fef2f2, #6e2e3a);
	padding: 3px 5px;
}
.paginator_down_topic span {color: #999; padding: 3px 5px;}*/
.disabled 		{
	background: #fef2f2;
	color: #fff;
	border: solid 1px #aea2a2;
	padding: 3px 8px;
	margin-left: 1px;}
.current		{
	background: #cca0a0;
	color: #fff;
	border: solid 1px #aea2a2;
	padding: 3px 8px;
	margin-left: 1px;
}

.new_topic{
	color: #333;
	box-shadow: 0 0 10px #6e2e3a;
}
	/*
.topic_add {
	color: #333;
	box-shadow: 0 0 10px #fef2f2;
	background-color: #fef2f2;
}
.bar {
	height: 4px;
	background-color: #6e2e30;
	*/
}
.breadcrumbs {
	background-color: #6e2e3a;
}
.breadcrumbs a {color: #fff}

.crumb {
	color: #fff;
}