{% load i18n %}
{% if pages != 1 %}
	{% trans "Pages" %}: 
	{% if lower_page %}
		<a href="{{ get_params }}page={{ lower_page }}{#&per_page={{ per_page }}#}">&laquo;</a>
	{% endif %}
	{% for number in page_list %}
		{% if number == "." %}
		{% else %}
			{% if number == page %}
				<strong>{{ number }}</strong> 
			{% endif %}
			{% if number != page %}
				<a href="{{ get_params }}page={{ number }}{#&per_page={{ per_page }}#}">{{ number }}</a>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% if higher_page %} 
		<a href="{{ get_params }}page={{ higher_page }}{#&per_page={{ per_page }}#}">&raquo;</a>
	{% endif %}
{% endif %}
