{% load i18n %}
{% if is_paginated %}
	{% trans "Pages" %}: 
	{% if previous %}
		<a href="{{ get_params }}page={{ previous }}{#&per_page={{ results_per_page }}#}">&laquo;</a>
	{% endif %}
	{% for number in page_range %}
		{% if number == "." %}
		{% else %}
			{% if number == page %}
				<strong>{{ number }}</strong> 
			{% endif %}
			{% if number != page %}
				<a href="{{ get_params }}page={{ number }}{#&per_page={{ results_per_page }}#}">{{ number }}</a>
			{% endif %}
		{% endif %}
	{% endfor %}
	{% if next %} 
		<a href="{{ get_params }}page={{ next }}{#&per_page={{ results_per_page }}#}">&raquo;</a>
	{% endif %}
{% endif %}
