Django>=1.2
PIL>=1.1.7
django-registration==0.7
django-haystack>=1.1.0
-e hg+http://bitbucket.org/benoitc/django-authopenid#egg=django-authopenid
-e svn+http://postmarkup.googlecode.com/svn/trunk/#egg=postmarkup