Django>=1.6
django-haystack>=2.1.0,<2.4
Pillow>=2.1.0
postmarkup
pygments
pytz>=2013b
# As soon as a release after v2.0.2 is made, we can revert to a normal PyPI requirement
# Python 3 support is brand new in this package
-e git://github.com/zyga/django-pagination.git#egg=linaro-django-pagination
